@import 'fonts';

$main-font: 'Rubik', sans-serif;
$mostra-font: 'MostraNuova';

$serif-light: 'ITC Serif Gothic Light';
$serif-regular: 'ITC Serif Gothic Regular';
$serif-bold: 'ITC Serif Gothic Extra Bold';

$base-black: #111111;
$base-white: #ffffff;
$base-red: #ff0c57;
$back-black: #1e1d20;
$card-black: #171618;
$base-darkBlue: #12121b;
$base-form: #29292b;
